@import "globals/variables";


dl.form {
  margin: 15px 0;
  &> dt {
    label {
      cursor: default;
    }
    margin: 0 0 6px 0;
  }
  dd {
    margin-left: 0;
  }
  input, textarea {
    background-color: #FAFAFA;
    box-sizing: border-box;
    width: 100%;
  }
}

input, textarea {
  padding: 7px 8px;
  outline: none;
  color: #333;
  border: 1px solid #CCC;
  border-radius: 3px;
}
