<div class="banner-profile">
  <div class="container clearfix">
    <img src=<%= @user.avatar %> alt="" class="profile-avatar">
    <ul class="profile-links">
      <li><%= @user.email %></li>
    </ul>
  </div>
</div>

<div class="profile-stats clearfix">
  <div class="container clearfix">
    <h2 class="profile-name">
      <%= @user.name %>
      <a href="#profile-edit-modal" class="edit-profile btn btn-primary">
        更改个人设置
      </a>
    </h2>
  </div>
</div>

<div class="container">
  <div style="display: none">
    <div id="profile-edit-modal">
      <%= render :partial => "edit_profile_modal", :locals => {user: @user} %>
    </div>
  </div>
</div>




<script>
  $(".edit-profile").colorbox({inline:true, width:"50%"});
</script>
