<div class="hero" data-stretch="<%= image_path 'hero-bg.jpg' %>" >
<h1>nic</h1>
</div>

<%= link_to "New Issue", new_issue_path, class: "new-issue-button" %>

<div class="issue-list-container clearfix">
  <%= render partial: 'shared/issue_list', locals: {issues: @issues} %>
</div>
<script type="text/javascript">
    $(".hero").anystretch();
</script>
