<div class="home-banner" data-stretch="<%= image_path 'home-banner-bg.jpg' %>" >
  <div class="banner-inner container clearfix">
    <h1>Happycasts.net Meetup</h1>
  </div>
</div>

  <%= link_to "New Issue", new_issue_path, class: "new-issue-button" %>


<div class="issue-list-container clearfix">
  <%= render partial: 'shared/issue_list', locals: {issues: @issues} %>
</div>
<script type="text/javascript">
    $(".home-banner").anystretch();
</script>
