<div class="home-banner" data-stretch="<%= image_path 'home-banner-bg.jpg' %>" >
  <div class="banner-inner container clearfix">
    <h1>Happycasts Meetup</h1>
    <p class="subheading">让开发变得有趣</p>
    <div class="home-banner-links">
      <%= link_to new_issue_path, class: "banner-btn btn"  do%>
        <i class="fa fa-pencil"></i>
          发布活动
      <% end %>
    </div>
  </div>
</div>

<div class="issue-list-header">
  <div class="container clearfix">
    <h1 class="issue-list-heading">所有活动都在下面了...</h1>
  </div>
</div>
<div class="container clearfix">
  <%= render partial: 'shared/issue_list', locals: {issues: @issues} %>
</div>
<script type="text/javascript">
  $(".home-banner").anystretch();
</script>
