<div class="about">
  <a name="about"></a>
  <div class="wrap clearfix">
    <div class="peter-avatar">
      <img src="http://gravatar.com/avatar/a92785d8d68f1d1d83b008574f8b5dba.png?s=512&d=retro" >
    </div>
    <div class="story">
      <h3>为何会有这个站点？</h3>
      <p>故事是这样的。2012 年的时候，我开始组织 happycasts 线下聚会，当时我给说最少办十次，讲一个完整的 Rails 程序，让大家跨过 Web 开发的最初的这道坎。后来可惜只是办了六七次，也没讲完。我心里一直觉得挺亏欠大伙的，所以后续把这个程序完善了一下，挂在网上方便大家参考，就是你现在看到的 offline.happycasts.net 这个站点。感谢当时智普教育和清华大学给免费提供场地，更感谢当时捧场的各位伙伴，感谢！</p>
    </div>
  </div>
</div>

