<% if flash[:notice] %>
  <div class="flash flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="flash flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="flash flash-error">
    <%= flash[:error] %>
  </div>
<% end %>