<div class="footer">
  <div class="container clearfix">
    <ul class="footer-nav">
      <li>Meetup Happycasts 2014</li>
      <li class="divider"></li>
      <li><%= link_to "happycasts.net", "http://happycasts.net" %></li>
      <li><%= link_to "ruby-china", "http://ruby-china.org" %></li>
    </ul>
  </div>
</div>
