<div class="navbar clearfix">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fa fa-home"></i>
    </a>
    <ul class="nav left">
      <li><a href="#about">About</a></li>
      <li><a href="http://github.com/happypeter/offline-happycasts">Code</a></li>
    </ul>
    <ul class="nav right">
      <% if current_user %>
        <li><%= link_to current_user.name, profile_path(current_user.name) %></li>
        <li><%= link_to "退出", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "注册", signup_path %></li>
        <li><%= link_to "登录", login_path %></li>
      <% end %>
    </ul>
  </div>
</div>
