<p id="notice"><%= notice %></p>

<%= link_to "create_new_event", new_event_path %>
<h1> All Events </h1>
<% if !@events.empty? %>
  <ul>
  <% @events.each do |event| %>
    <li> <%= link_to event.title, event %> </li>
  <% end %>
  </ul>
<% else %>
  <p>
  No Events found
  </p>
<% end %>

