<p id="notice"><%= notice %></p>

<h1> All Events </h1>
<% if !@events.empty? %>
  <ul>
  <% @events.each do |event| %>
    <li> <%= event.title %> </li>
  <% end %>
  </ul>
<% else %>
  <p>
  No Events found
  </p>
<% end %>

