.issue-list {
  background: #fff;
  clear: both;
  padding: 0 2em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  article {
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    margin-top: 0;
    padding: 1em 0;
    .body {
      margin-right: 2em;
      width: 70%;
      float: left;
      .read-more{
        background-color: #316A72;
        color: #fff;
        font-size: 13px;
        display: inline-block;
        line-height: 1.7;
        padding: 0 7px;
      }
      .meta-data {
        color: #999;
        font-size: 14px;
      }

      h5 {
        font-size: 1.1em;
        line-height: 1.7em;
        font-weight: normal;
        margin: 0 0 5px;
        a {
          color: black;
          &:hover {
            color: black;
          }
        }
      }
    }
    .issue-comment-count {
      float: right;
      margin-top: 15px;
      a {
        font-size: 2em;
      }
      .icon-muted {
        font-size: 25px;
        position: relative;
        top: -12px;
        color: #c9c9c9;
      }
    }
    .avatar {
      width: 75px;
      float: left;
      img {
        width: 65px;
        padding: 4px;
        border: 1px solid #ddd;
      }
    }
  }
}
