@import "globals/variables";


.form-control {
  height: 55px;
  font-size: 21px;
}

.new-issue-form-container {
  width: 800px;
  background: white;
  margin: 30px auto;
  .new-issue-form {
    width: 600px;
    margin: 10px auto;
    textarea {
      height: 180px;
      font-size: 21px;
    }
    label {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}
.submit-issue-button {
  height: 50px;
  width: 100%;
}
