@import "globals/variables";

.banner-profile {
  padding: 1.5em 0;
  overflow: visible;
  min-height: 200px;
  border-top: none !important;
  background: $brand-color;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.profile-avatar {
  border: 1px solid #fff;
  padding: 5px;
  width: 190px;
  float: left;
  &:hover {
    border: 1px solid #c0865e;
  }
}

.profile-stats {
  background: #333;
  border-bottom: 1px solid #555;
}
.profile-name {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  display: inline-block;
  line-height: 80px;
  margin: 0;
}

.profile-links {
  color: #fff;
  font-size: 1.1em;
  padding-left: 0;
  float: right;
  text-align: right;
}

#profile-edit-modal {
  .header {
    background: #c0865e;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 2em;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
}
