/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'event';

$container-width: 960px;

body {
  margin: 0;
}
.container {
  width: $container-width;
  margin: 0 auto;
}

.navbar {
  background-color: green;
  height: 70px;
  color: white;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  h1 {
    padding: 20px;
    padding-left: 0px;
    color: white;
    margin: 0;
  }
}
