// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events {

  .event_container {

    margin-top: 50px;

    .boxed-group {

      position: relative;
      background: #efefef;
      padding: 3px;
      border-radius: 3px;
      margin: 0 0 15px 0;

      h2{

        background: white;
        margin: 0;
        border: 1px solid #d8d8d8;
        padding: 10px 10px 11px 10px;
        text-shadow: 0 1px 0 #fff;

      }
      i {

        background: white;
        display: block;
        border: 1px solid #d8d8d8;
        line-height: 40px;
        padding-left: 10px;
      }

      h3, boxed-group .heading {

        background-color: #e0e0e0;
        background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
        background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
        background-image: linear-gradient(#fafafa, #e0e0e0);
        background-repeat: repeat-x;
        margin: 0;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        border: 1px solid #d8d8d8;
        border-bottom: none;
        padding: 10px 10px 11px 10px;
        font-size: 14px;
        text-shadow: 0 1px 0 #fff;

      }

      .comment-by {
        padding-left: 10px;
        color: #b1b1b1;
        font-size: 12px;
        font-style: italic;
      }

      .box-created {
        float: right;
        font-size: 10px;
        color: #6a6a6a;
      }


      .boxed-group-inner.markdown-body {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .boxed-group-inner {
        padding: 1px 10px;
        background: #fff;
        border: 1px solid #d8d8d8;
        border-top: 1px solid #ccc;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        color: #666;
        font-size: 13px;

      }

    }
    .btn-submit {

      margin-top: 20px;
      float: right;
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
      background-color: #60b044;
      background-image: -moz-linear-gradient(#8add6d, #60b044);
      background-image: -webkit-linear-gradient(#8add6d, #60b044);
      background-image: linear-gradient(#8add6d, #60b044);
      background-repeat: repeat-x;
      border-color: #5ca941;

      &:hover {
        background: #20b044;
        color: #eee;
      }

    }
  }

}

.text-area {
  padding: 10px 20px;
  textarea {
    width: 100%;
  }
}
