// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events {

  .event_container {

    h1, h2, h3, h4, h5, h6, p {

      margin: 1px;
      padding: 2px 10px;
      text-indent: 20px;
    }

    .event_main {

      margin: 20px;
      border: 1px solid #434;
      width: 70%;

      .event_title {

        padding-bottom: 8px;
        margin: 0;
        border-bottom: 1px solid black;

        h1 {
          margin: 10px 0 10px 1px;
          padding: 15px 5px 5px 5px;
          font: bold 30px/20px sans-serif;
          text-shadow: 0 -1px 1px #333;
          letter-spacing: -1px;
        }

        i {
          color: #321;
          padding-left: 25px;
          font: italic 15px/10px sans-serif;
        }

      }


    }

    .comment_show {

      margin: 20px;
      border: 1px solid #434;
      width: 70%;

      .create_info {
        background: #e3e3e3;
        padding: 10px;
        border-bottom: 1px solid #999;
        font: italic 15px/10px sans-serif;
        color: #666;

        .created_time {
          float: right;
        }
      }

    }
    .comment_add {
      margin: 20px;
      width: 70%;
    }
  }

}
