@import "globals/variables";

.welcome .navbar {
  background: transparent;
}
.navbar {
  background: #222;
  position: relative;
  z-index: 1000;
  a {
    color: #fff;
    &:hover {
      color: #c0865e;
    }
  }
  .navbar-brand {
    float: left;
    padding-left: 0;
    line-height: 80px;
    font-size: 45px;
  }
  .nav.left {
    float: left;
  }
  .nav.right {
    float: right;
  }
  .nav {
    li {
      float: left;
      a {
        display: block;
        font-size: 1.1em;
        line-height: 40px;
        padding: 5px 10px;
        margin: 15px 10px;
        &:hover {
          color: #000;
          background: #fff;
        }
      }
    }
  }
}


.footer {
  border-top: 1px solid #c5c5c5;
  min-height: 200px;
  margin: 3em 0;
  padding-top: 3em;
  padding-bottom: 3em;
  background: #f8f5f0;
  ul.footer-nav {
    li {
      list-style: none;
      line-height: 1.7;
    }
    .divider {
      min-height: 1px;
      padding-bottom: 0.7em;
      margin-bottom: 0.7em;
    }
  }
}
