@import "globals/variables";

.welcome .navbar {
  background: transparent;
}
.navbar {
  background: #222;
  position: relative;
  z-index: 1000;
  a {
    color: #fff;
    &:hover {
      color: #c0865e;
    }
  }
  .navbar-brand {
    float: left;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
    font-size: 20px;
  }
  .nav {
    float: right;
    li {
      float: left;
      a {
        display: block;
        float: right;
        padding-left: 20px;
        line-height: 80px;
      }
    }
  }
}


.footer {
  border-top: 1px solid #c5c5c5;
  min-height: 200px;
  margin: 3em 0;
  padding-top: 3em;
  padding-bottom: 3em;
  color: #666;
  background: #f8f5f0;
  ul.footer-nav {
    li {
      list-style: none;
      line-height: 1.7;
    }
    .divider {
      min-height: 1px;
      padding-bottom: 0.7em;
      margin-bottom: 0.7em;
    }
  }
}
