@import "globals/variables";

.signup-form-container, .login-form-container{
  width: 670px;
  margin: 50px auto;
  border:1px solid #ddd;
  padding: 2em;
  .signup-form, .login-form {
    width: 100%;
  }
}

.need-signup{
  margin: 10px 0;
  float: right;
}

.signup-button, .login-button {
  padding: 20px;
  width: 100%;
}


// signup form
.form-errorred, .form .error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
