@import "globals/variables";
.hero {
  background: $brand-green;
  padding: 20px;
  text-align: center;
  color: white;
}
.logo {
  width: 100px;
}

.new-issue-button {
  display: block;
  width: 100px;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  background: darken($brand-green, 10%);
  color: #fff;
  &:hover {
    color: white;
    background: $brand-green;
  }
}

.issue-list {
  li {
    padding: 10px;
    display: block;
    min-height: 100px;
    background: white;
    margin: 20px;
    .issue-title>a {
      font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      display: block;
      font-size: 28px;
      line-height: 1.1;
      color: #333332;
      margin-bottom: 4px;
    }
    .issue-snippet {
      font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
      letter-spacing: -0.02em;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
      line-height: 1.2;
      color: #666665;
      margin-bottom: 4px;
    }
    .meta-data {
      font-size: 14px;
      color: #b3b3b1;
    }
    .avatar {
      float: right;
      img {
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}