<div class="container">
  <p>
  这里是 <a href="http://happycasts.net"> happycasts.net</a> 线下活动网站，我们一般每周日下午聚会，地点见具体活动通知。
  需要参加的同学可以<a href="http://offline.happycasts.net/signup"> 注册 </a> 留下自己的邮箱，这样我们有活动的话会邮件通知你的。
  </p>
<div>
